# Dependencies
node_modules/

# Build output
dist/
build/

# Environment files
*.env

# Certificates & Keys
.certs/
certs/
*.key
*.crt

# Logs
logs/
*.log

# OS and editor files
.DS_Store
Thumbs.db
.vscode/
