services:
  ms-kafka-aggregator:
    image: 717279720802.dkr.ecr.ap-southeast-1.amazonaws.com/pixelsofts/ms-kafka-aggregator:latest
    container_name: ms-kafka-aggregator
    env_file:
      - .env
    volumes:
      - ./certs:/certs:ro
    ports:
      - "8083:8080"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:8080/health"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
